<!--Filename: Assignment1
Student Name: Sirada Thoungvitayasutee
Student ID: 301292632
Date 12 Feb 2023-->
<!--Services page information-->
<!--About Me Page Information-->
<% if(title=="About"){%>

  <main class="container my-5">
    <div class="jumbotron">
      <h1 class="display-4 text-center"><b> Sirada Thoungvitayasutee</b></h1>
      <div class="row">
        <div class="col-md-3 text-center">
          <img src="/assets/images/sirada_photo.png" style="width:200px; height:200px;" alt="Profile picture">
        </div>
        <div class="col-md-9">
          <ul>
          <li>Sirada is a software engineering student majoring in Artificial Intelligence at Centennial College Canada. </li> 
          <li>With over 3 years of experience in Technology, Consulting and Information Risk Management services, she has honed her skills in various areas including business process improvement, data strategy and governance, lean process optimization, robotic process automation, and IT auditing.</li>
          <li>Her expertise spans across various industries such as oil and gas, banking, and insurance. </li>

        </ul>
        </div>
      </div>
      <p class="text-center">
        <a class="btn btn-primary" href="https://drive.google.com/file/d/1-82Tr-xlS7exayHNcDyv17afnNEmaLvj/view?usp=sharing">View My Resume</a>
      </p>
    </div>
  </main>
<%}else{%>
<%}%>