<!--Filename: Assignment1
Student Name: Sirada Thoungvitayasutee
Student ID: 301292632
Date 12 Feb 2023-->
<!--Services page information-->
<!--Home page information-->
<% if(title=="Home"){%>
  <main class="container my-5">
    <div class="text-center">
      <h1 class="display-4 font-weight-bold">Welcome to the Home Page!</h1>
      <p class="lead">Here, you can learn more about who I am and my mission statement.</p>
    </div>
    <div class="row my-5">
      <div class="col-md-6 mx-auto">
        <p class="text-muted">My personal mission statement is to use skills and creativity to build innovative solutions to solve business problems.</p>
      </div>
    </div>
    <div class="text-center">
      <p class="lead">You can also click on the links below to navigate to About Me, Projects, Services, and Contact Me page.</p>
      <div class="btn-group">
        <a class="btn btn-outline-primary" href="about">
          <i class="fas fa-user"></i> About Me
        </a>
        <a class="btn btn-outline-primary" href="projects">
          <i class="fas fa-laptop-code"></i> Projects
        </a>
        <a class="btn btn-outline-primary" href="services">
          <i class="fas fa-briefcase"></i> Services
        </a>
        <a class="btn btn-outline-primary" href="contact">
          <i class="fas fa-envelope"></i> Contact Me
        </a>
      </div>
    </div>
  </main>
<%}else{%>
        <%}%>
