<!--Filename: Assignment1
Student Name: Sirada Thoungvitayasutee
Student ID: 301292632
Date 26 Feb 2023-->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5B2193;">
  <!--<div class="container-fluid">-->
      <div class="logo">
        <p>ST</p>
     </div> 
   
   <style>
      .logo {
         width: 30px;
         height: 30px;
         border-radius: 25px;
         background-color: #dda4eb;
         display: flex;
         align-items: center;
         justify-content: center;
         color: #fff;
         font-size: 15px;
      }
   </style>
       <a class="navbar-brand" href="home#">&nbsp;Personal Portfolio</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <% if(title=="Home"){%>
        <li class="nav-item active">
          <%}else{%>
            <li class="nav-item">
              <%}%>
          <a class="nav-link active" aria-current="page" href="home"><i class="fa-solid fa-house-chimney"></i><b>&nbsp;Home</a></b>
        </li>

        
        <% if(title=="About Me"){%>
        <li class="nav-item active">
          <%}else{%>
            <li class="nav-item">
              <%}%> 
          <a class="nav-link active" aria-current="page" href="about"><i class="fa-solid fa-circle-user"></i><b>&nbsp;About Me</a></b>

        </li>

        <% if(title=="Projects"){%>
        <li class="nav-item active">
          <%}else{%>
            <li class="nav-item">
              <%}%> 
               
          <a class="nav-link active" aria-current="page" href="products"><i class="fa-solid fa-laptop-code"></i><b>&nbsp;Projects</a></b>
        </li>

        <% if(title=="Services"){%>
        <li class="nav-item active">
          <%}else{%>
            <li class="nav-item">
              <%}%> 
          <a class="nav-link active" aria-current="page" href="services"><i class="fa-solid fa-briefcase"></i><b>&nbsp;Services</a></b>
        </li>

      
         <% if(title==('Contact')){%>
        <li class="nav-item active">
          <%}else{%>
            <li class="nav-item">
              <%}%> 
          <a class="nav-link active" aria-current="page" href="contact"><i class="fa-solid fa-envelope"></i><b>&nbsp;Contact</a></b>
        </li>

        <!--<% if(title==('Business Contacts')){%>
          <li class="nav-item active">
            <%}else{%>
              <li class="nav-item">
                <%}%> 
            <a class="nav-link active" aria-current="page" href="contact"><i class="fa-sharp fa-regular fa-address-book"></i><b>&nbsp;Business Contacts</a></b>
          </li>
        -->
          <% if(title=="Books"){%>
          <li class="nav-item active">
            <%}else{%>
              <li class="nav-item">
                <%}%> 
            <a class="nav-link active" aria-current="page" href="/bookList"><i class="fa-solid fa-book"></i>Business Contacts</a>
          </li>


          <%if(typeof displayName =='string'&&displayName){%>
            <li class="navbar-text"><i class="fas fa-lg fa-user"></i>Welcome,<%=displayName%></li>
            <li class="nav-item"><a href="/logout" class="nav-link"><i class="fas fa-lg fa-sign-out-alt"></i>logout</a></li>
            <%}else{%>
              <li class="nav-item"><a href="/login" class="nav-linl">
                <i class="fas fa-lg fa-sign-in-alt"></i>Login</a></li>
                <%}%>

 

       
    </div>
  <!--</div>-->
</nav>