<!--Filename: Assignment1
Student Name: Sirada Thoungvitayasutee
Student ID: 301292632
Date 26 Feb 2023-->

<!--Projects Page Information-->
<% if (title == "Products") { %>

  <main class="container my-5">
    <div class="jumbotron">
      <h1 class="display-4 text-center"><b>Projects Portfolio</b></h1>
      <hr class="my-4">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">
                <i class="fas fa-database fa-3x"></i>
              </h5>
              <h6 class="card-subtitle mb-2 text-muted text-center"><b>Data Strategy and Governance</b></h6>
              <p class="card-text">Implemented a 3-year roadmap data strategy plan to increase the efficiency and security of an organization's data management.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">
                <i class="fas fa-tasks fa-3x"></i>
              </h5>
              <h6 class="card-subtitle mb-2 text-muted text-center"><b>Business Process Improvement</b></h6>
              <p class="card-text">Provided solutions for improving the efficiency and effectiveness of an organization's business processes by eliciting requirements and implementing changes.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">
                <i class="fas fa-robot fa-3x"></i>
              </h5>
              <h6 class="card-subtitle mb-2 text-muted text-center"><b>Robotic Process Automation</b></h6>
              <p class="card-text">Improved IT business processes by automating repetitive tasks using RPA code, resulting in increased efficiency and cost savings for the organization.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
<% } else { %>
<% } %>