<!--Filename: Assignment1
Student Name: Sirada Thoungvitayasutee
Student ID: 301292632
Date 26 Feb 2023-->

<!--Services page information-->
<% if(title=="Services"){%>

    <main class="container my-5">
      <div class="jumbotron">
        <h1 class="display-4"><b>My Services</b></h1>
        <p>Provide consulting services in below areas:</p>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <i class="fas fa-briefcase fa-2x mr-3"></i>
            Business Process Improvement
            <i class="fas fa-check fa-2x"></i>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <i class="fas fa-database fa-2x mr-3"></i>
            Data Strategy and Governance
            <i class="fas fa-check fa-2x"></i>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <i class="fas fa-robot fa-2x mr-3"></i>
            Robotic Process Automation
            <i class="fas fa-check fa-2x"></i>
          </li>
        </ul>
      </div>
    </main>
  <%}else{%>
  <%}%>