<!--Filename: Assignment1
Student Name: Sirada Thoungvitayasutee
Student ID: 301292632
Date 12 Feb 2023-->
<!--Services page information-->
<footer>
  <nav class="navbar fixed-bottom navbar-dark" style="background-color: #5B2193;">
    <h1 class="display-6 navbar-text" style="font-size: large;">&copy;2023 All right reserved</h1>
  </nav>
</footer>
