<!--Filename: Assignment1
Student Name: Sirada Thoungvitayasutee
Student ID: 301292632
Date 12 Feb 2023-->
<!--Services page information-->
<!--Home page information-->

<% if(title=="Business Contacts"){%>
  <main class="container my-5">
    <div class="text-center">
      <h1 class="display-4 font-weight-bold">Welcome to the Home Page!</h1>
      <p class="lead">Here, you can learn more about who I am and my mission statement.</p>
    </div>
    <div class="row my-5">
      <div class="col-md-6 mx-auto">
        <p class="text-muted">My personal mission statement is to use skills and creativity to build innovative solutions to solve business problems.</p>
      </div>
    
      </div>
    </div>
  </main>
<%}else{%>
        <%}%>
